<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page <%='hello world'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam necessitatibus, accusantium animi enim cum
        obcaecati ipsum voluptatem quaerat laborum voluptatibus quia, earum, nesciunt ab illo officiis et. Ex, animi
        necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nobis beatae sint nesciunt voluptatem
        mollitia quaerat eveniet quae laboriosam illum aut! Cumque iure, sequi voluptas tenetur saepe architecto aliquid
        animi.</p>

</body>

</html>